<ion-header>
    <ion-toolbar color="dark">
    <ion-title class="titulo">
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Un vistazo al amor</ion-card-subtitle>
      <ion-card-title class="titulo1">Matando Gatos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es posible que quieras descargar tu frustración asesinando un lindo gatito de nuestra galería
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Encuentra el sitio más cercano para comenzar la matanza</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      <img src="../assets/gatito.jpg">
      Nuestro admin estará dispuesto a ayudarte
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>Visitanos en nuestra FanPage</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item href="https://www.youtube.com/watch?v=-2AREnswI7Q" class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Video Tutorial</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="logo-octocat" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
