ion-card{
    background-color: black;
    color: white;
    font-family: 'Courier New';
    text-align: justify;
}
ion-card-content{
    background-color: #02335c;

}
.titulo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}