h1 {background-color: greenyellow;
    color: black;
}
body {
    background-color: aqua;
}
.nombre {
    background-image:'../assets/icon/agua.jpg';
    color: black;
    text-align: center;
    
}
.nono {
    background-color: rgb(48, 9, 75);
    text-align: center;
    color: white;
    font-size: 12px;
}

.gato{
    float: center;
    width: auto;
    width: 100%;
}
nav {
    background-color: rgba(184, 255, 188, 0.747);
    color: black;
}